.input {
  border-radius: 2px;
  font-weight: 500;
  padding: 5px 5px;
  border: 1px solid springgreen;
  display: block;
  width: 200px;
}

.input.valid:focus-visible {
  outline: 1px solid springgreen;
}

.input.invalid {
  border: 1px solid red !important;
}

.input.invalid:focus-visible {
  outline: none;
}

label {
    display: inline-block;
    font-size: 13px;
    padding: 5px 0px;
    font-weight: 500;
}

.input-gr {
  display: flex;
}

.error {
  font-size: 12px;
  color: red;
}